<?xml version="1.0"?>

<launch>
	<param name="use_sim_time" value="true"/>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" >
      <param name="base_frame" value="link_chassis"/>
      <param name="map_frame" value="map"/>
      <param name="odom_frame" value="odom"/>
      <param name="map_update_interval" value="5.0"/> # 5.0
      <param name="maxUrange" value="35.0"/> # 16.
      <param name="sigma" value="0.05"/>   # guardare meglio
      <param name="kernelSize" value="1"/> # The kernel in which to look for a correspondence
      <param name="lstep" value="0.05"/>
      <param name="astep" value="0.05"/>
      <param name="iterations" value="8"/> # The number of iterations of the scanmatcher 5 (incrementarlo per avere match più accurati)
      <param name="lsigma" value="0.1"/> # The sigma of a beam used for likelihood computation    0.075
      <param name="ogain" value="5.0"/> # Gain to be used while evaluating the likelihood, for smoothing the resampling effects 3
      <param name="lskip" value="0"/>
      <param name="srr" value="0.1"/>
      <param name="srt" value="0.2"/>
      <param name="str" value="0.1"/>
      <param name="stt" value="0.2"/>
      <param name="linearUpdate" value="1.0"/>
      <param name="angularUpdate" value="0.5"/>
      <param name="temporalUpdate" value="1.0"/> <!-- before was 3.0 Process a scan if the last scan processed is older than the update time in seconds. A value less than zero will turn time based updates off. -->
      <param name="resampleThreshold" value="0.5"/> # 0.5
      <param name="particles" value="50"/>
      <param name="xmin" value="-50.0"/>
      <param name="ymin" value="-50.0"/>
      <param name="xmax" value="50.0"/>
      <param name="ymax" value="50.0"/>
      <param name="delta" value="0.05"/>
      <param name="llsamplerange" value="0.01"/>
      <param name="llsamplestep" value="0.01"/>
      <param name="lasamplerange" value="0.005"/>
      <param name="lasamplestep" value="0.005"/>
      <param name="transform_publish_period" value="0.0005"/>
    </node>

</launch>
