<?xml version="1.0"?>
<launch>
	<!-- simulation -->
	<include file="$(find final_assignment)/launch/simulation.launch"></include>
	<!-- SLAM algo: gmapping -->
	<include file="$(find final_assignment)/launch/gmapping.launch"></include> 
	    <arg name="des_x" default= "-5.0"/>
    	<arg name="des_y" default= "7.0"/>
    	<param name="des_pos_x" value="$(arg des_x)" />
    	<param name="des_pos_y" value="$(arg des_y)" />
	<!-- Navigation algo: move base -->
	<include file="$(find final_assignment)/launch/move_base.launch"></include>

	<arg name="roomsDetection_info" default="false" />
	<arg name="track_info" default="false" />	
	<arg name="use_rviz" default="false" />

	<!-- node to notify new rooms -->
	<node name="roomDetector" pkg="final_assignment" type="roomDetector.py" /> 

	<node name="commandManager" pkg="final_assignment" type="cm2.py" output="screen" /> 
	<!-- node to track a new detected rooms -->
	<node name="track" pkg="final_assignment" type="track.py" output="screen" />
 



  	<group if="$(arg use_rviz)">
             <node name="rviz" pkg="rviz" type="rviz" args="-d $(find final_assignment)/config/mySim.rviz" />
  	</group>
	





</launch>
