<?xml version="1.0"?>
<launch>
	<!-- simulation -->
	<include file="$(find final_assignment)/launch/simulation2.launch"></include>
	<!-- SLAM algo: gmapping -->
	<include file="$(find final_assignment)/launch/gmapping.launch"></include> 
	    <arg name="des_x" default= "-5.0"/>
    	<arg name="des_y" default= "7.0"/>
    	<param name="des_pos_x" value="$(arg des_x)" />
    	<param name="des_pos_y" value="$(arg des_y)" />
	<!-- Navigation algo: move base -->
	<include file="$(find final_assignment)/launch/move_base.launch"></include>

	<arg name="ui" default="false" />	
	<arg name="rviz" default="false" />
	<arg name="node_start_delay" default="6"/>  

 

	<!-- node to notify new rooms -->
	<node name="roomsDetector" pkg="final_assignment" type="roomDetector.py" output="screen"/> 

	<node name="commandManager" pkg="final_assignment" type="commandManager.py" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'; gnome-terminal --command " />
	<!-- node to track a new detected rooms -->
	<node name="track" pkg="final_assignment" type="track.py" output="screen" />
 
    <group if="$(arg ui)">
			<node name="UI" pkg="final_assignment" type="UI.py"  launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'; gnome-terminal --command " />
	</group>


  	<group if="$(arg rviz)">
             <node name="rviz" pkg="rviz" type="rviz" args="-d $(find final_assignment)/config/mySim.rviz" />
  	</group>
	





</launch>
