<?xml version="1.0"?>
<launch>
	<!-- simulation -->
	<include file="$(find final_assignment)/launch/simulation.launch"></include>
	<!-- SLAM algo: gmapping -->
	<include file="$(find final_assignment)/launch/gmapping.launch"></include> 
	    <arg name="des_x" default= "-5.0"/>
    	<arg name="des_y" default= "7.0"/>
    	<param name="des_pos_x" value="$(arg des_x)" />
    	<param name="des_pos_y" value="$(arg des_y)" />
	<!-- Navigation algo: move base -->
	<include file="$(find final_assignment)/launch/move_base.launch"></include>

	<!-- node to notify new rooms -->
	
	 <node name="cmd_smach" pkg="final_assignment" type="cmd_smach.py" output="screen" /> 
	  

	<arg name="use_rviz" default="false" />

  <group if="$(arg use_rviz)">
       <node name="rviz" pkg="rviz" type="rviz" args="-d $(find final_assignment)/config/sim.rviz" />
  </group>
	





</launch>
